<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment = "thread_frag(thr)" class = "thread-fragment-div">
    <div class = "thread">

        <div class = "thread-title">
            <a style = "text-decoration:none;" th:href="@{/thread/{thrId} (thrId = ${thr.id})}"><span th:text = "${thr.threadTitle}"></span></a> <span style="color: grey;" th:if = "${thr.isLocked}">(заключена)</span>
        </div>

        <div class = "thread-body">
            <span th:text = "${thr.threadBody}"></span>
        </div>

        <!-- this won't be a fragment, just copy and paste this thing -->
        <div class = "category-div" th:if = "${thr.categories != null && !thr.categories.isEmpty()}">
            <!-- repeating category fragment that doesn't exist yet goes here -->
            <div th:each = "cat : ${thr.categories}">
                <!--   REMEMBER #### FOR THE COLORS HERE     -->
                <div th:replace="~{fragments/cat_fragment :: category(${cat})}"></div>
            </div>
        </div>

        <div class = "bottom-div">
            <!-- това вляво -->
            <div class = "user-creation-info">
                От <a th:href = "@{/user/{opId} (opId = ${thr.originalPoster.id})}">
                <span th:class="${thr.originalPoster.isBanned() ? 'banned' : (thr.originalPoster.isAdmin() ? 'admin' : 'normal')}"
                        th:text="${thr.originalPoster.shownUsername == null ? thr.originalPoster.username : thr.originalPoster.shownUsername}"></span></a>, създадена на <span th:text="${#temporals.format(thr.creationDate, 'dd MMM yyyy HH:mm')}"></span>
            </div>
            <!-- това вдясно -->
            <div>
                Г:<span th:text="${thr.views}"></span> П:<span th:text="${thr.posts}"></span>
            </div>
        </div>
    </div>
</div>


</body>
</html>