<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment = "thread_frag(thr)" class = "thread-fragment-div">


    <div th:if="${thr == null}">thr is NULL</div>
    <div th:if="${thr != null}">thr is OK: <span th:text="${thr.id}"></span></div>

    <div class = "thread" th:if="false">

        <div class = "thread-title">
            <span th:text = "${thr.threadTitle}"></span> <span th:if = "${thr.isLocked}">(заключена)</span>
        </div>

        <div class = "thread-body">
            <span th:text = "${thr.threadBody}"></span>
        </div>

        <!-- this won't be a fragment, just copy and paste this thing -->
        <div class = "category-div" th:if = "${thr.categories != null}">
            <!-- repeating category fragment that doesn't exist yet goes here -->
            <div th:each = "category : ${thr.categories}">
                <!--   REMEMBER #### FOR THE COLORS HERE     -->
                <div th:style="background-color: #${category.categoryColour}"  class = "category-item">
                    <a
                        th:href="@{/category/{categoryName}(categoryName=${category.categoryName})}"
                        style="color: white; text-decoration: none;"
                    >
                        <span th:text = "${category.categoryName}"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class = "bottom-div">
            <!-- това вляво -->
            <div class = "user-creation-info">
                От <a th:href = "@{/users/${thr.originalPoster.id}}"><span th:text="${thr.originalPoster.shownUsername == null ? thr.originalPoster.username : thr.originalPoster.shownUsername}"></span></a>, създадено на <span th:text="${${#dates.format(post.creationDate, 'dd MMM yyyy HH:mm')}}"></span>
            </div>
            <!-- това вдясно -->
            <div>
                Г:<span th:text="${thr.views}"></span> П:<span th:text="${thr.posts}"></span>
            </div>
        </div>
    </div>
</div>


</body>
</html>