<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>THE ФОРУМЪТ</title>

    <link rel="stylesheet" type = "text/css" href="/css/main.css" />
    <link rel="stylesheet" type = "text/css" href="/css/header_fragment.css" />

</head>

<header>

    <div th:insert = "~{fragments/header_fragment :: header}"></div>

</header>

<body>
<!--	двата двиа горе и долу се намират един до друг на истинската страниця	-->
<!-- overflow-y: auto; <- това е необходимо, за да излезе слайдер, когато нишките излязът от екрана(y+)-->


<div class="page-content-wrapper">

    <div class="side-column left-column"></div>

    <div class="middle-column">

        <!-- Sorting bar -->
        <div class="sorting-bar">
            <div class="threads-label">Нишки, сортирани по:</div>
            <div class="sorting-buttons">
                <a th:href="@{/threads(sort='views')}"
                   th:class="${sortMethod} == 'views' ? 'sort-button selected-sort-button' : 'sort-button'">
                    Гледания
                </a>
                <a th:href="@{/threads(sort='posts')}"
                   th:class="${sortMethod} == 'posts' ? 'sort-button selected-sort-button' : 'sort-button'">
                    Постове
                </a>
                <a th:href="@{/threads(sort='recent')}"
                   th:class="${sortMethod} == 'recent' ? 'sort-button selected-sort-button' : 'sort-button'">
                    Скорошни
                </a>
            </div>
        </div>

        <div class="threads-container">



            <div th:each="thr : ${threads}">
                <div th:if="${thr == null}">thr is NULL</div>
                <div th:if="${thr != null}">thr is OK: <span th:text="${thr.id}"></span></div>


                <div th:replace="~{fragments/thread_fragment.html :: thread_frag(${thr})}"></div>
            </div>
        </div>

    </div>

    <div class="side-column right-column"></div>
</div>

</body>


</html>