<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>THE ФОРУМЪТ</title>

    <link rel="stylesheet" type = "text/css" href="/css/main.css" />
    <link rel="stylesheet" type = "text/css" href="/css/header_fragment.css" />

</head>



<header>

    <div th:insert = "~{fragments/header_fragment :: header}"></div>

</header>

<body>

<div class = "body-left-side-text-div">
    Нишки
</div>

<!--	двата двиа горе и долу се намират един до друг на истинската страниця	-->

<div class = "body-right-side-sorting-control-div">

    Сортирай по:

    <div class = "body-right-side-sorting-button-activated">
        Скорошни
    </div>

    <div class = "body-right-side-sorting-button-inactive">
        Гледания
    </div>

    <div class = "body-right-side-sorting-button-inactive">
        Постове
    </div>

</div>


<!-- overflow-y: auto; <- това е необходимо, за да излезе слайдер, когато нишките излязът от екрана(y+)-->
<div class = "body-thread-container-div">

    body is here

    <form action="/avatar_test" method="get">
        <button type="submit">Test Avatar Endpoint</button>
    </form>

    <a href = "http://localhost:8081/avatar_test">
        test with < a >
    </a>

</div>


</body>


</html>